/.curseclient
/.mixin.out
/crash-reports
/downloads
/ESM
/fancymenu_data
/fancymenu_setups
/journeymap
/ldlib
/local
/logs
/minecraftinstance.json
/modernfix
/mods
/options.txt
/patchouli_books
/patchouli_data.json
/quests_structures
/resourcepacks
/rhino.local.properties
/saves
/schematics
/screenshots
/servers.dat
/shaderpacks
/usercache.json
/usernamecache.json
servers.dat_old
.gitignore

.vscode/settings.json
